@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lato:wght@300;400;700;900&family=Oswald:wght@400;600&display=swap');


body {
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 95px;
  width: 100%;
  background-color: #2D303A;
  border-bottom: 6px solid #323746;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.burger__menu {
  /*play: none;*/
  font-size: 24px;
  width: 278px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2D303A;
  box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  z-index: 10;
  transform: translate(-110%, 0px);
}

.burger__logo {
  font-size: 19.69px;
  margin-left: 71px;
  margin-top: 25px;

}

.burger__nav {
  margin-top: 50%;
  margin-left: 71px;
}

.burger__menu .nav__item {
  padding-bottom: 27px;
}

.burger__menu .nav__item:after {
  display: none;
}

.burger__menu .nav__list {
  display: flex;
  flex-direction: column;
}

.header__wrapper {
  width: 100%;
  max-width: 1020px;
  padding: 29px 40px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header__logo {
  font-size: 25px;
  line-height: 30px;
}

.red {
  color: #F06C64;
}

li.red:hover {
  color: white;
}

.nav__list {
  width: 375px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__item {
  cursor: pointer;
  position: relative;
}


.nav__item:hover {
  color: #f06c64;
  transform: scale(1.02);
}

.nav__item:after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: -16px;
  position: absolute;
  background-color: #fff;
}

.nav__item:last-child::after {
  content: "";
  width: 0;
  height: 0;
}

a:hover {
  color: #f06c64;
}

a {
  text-decoration: none;
  color: white;
}

section {
  width: 100%;
}

.slider--blue {
  border-bottom: 6px solid #5d86ee;
  background: #648bf0;
}

.slider--red {
  border-bottom: 6px solid #ea676b;
  background: #f06c64;
}

.slider--content {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1020px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 594px;
}

.slider__hidden {
  display: none;
}

.red-content--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 796px;
  width: 100%;
}

.blue-content--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow:hover {
  cursor: pointer;
  opacity: 0.6;
}

.blue-content--vertical {
  max-height: 314px;
  opacity: 0.6;
}

.blue-right {
  margin-left: -27px;
}

.blue-left {
  margin-right: -20px;
}

.blue-content--horizontal {
  max-height: 513px;
  z-index: 3;
}

.services {
  width: 100%;
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  display: flex;
  justify-content: center;
}

.services--wrapper {
  max-width: 1020px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 494px;
  padding: 59px 40px 46px;
  box-sizing: border-box;
}

.services--title {
  color: #666d89;
  /*font-family: "Lato", sans-serif;*/
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 18px;
}

.services--subtitle {
  /*font-family: "Lato", sans-serif;*/
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #767e9e;
  margin-bottom: 60px;
}

.servies--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-item--wrapper {
  display: flex;
  max-width: 300px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.list-item--wrapper:nth-child(n+4) {
  margin-bottom: 0;
}

.lits-item--icon {
  height: 60px;
  width: 60px;
}

.list-item--text {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  box-sizing: border-box;
}

.list-item--title {
  /*font-family: "Lato", sans-serif;*/
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  padding-bottom: 7px;
}

.list-item--subtitle {
  /*font-family: "Lato", sans-serif;
  font-weight: 400;*/
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  text-align: justify;
}

.portfolio {
  width: 100%;
  background: #2D303A;
  color: #767E9E;
  border-bottom: 6px solid #323746;
  display: flex;
  justify-content: center;
}

.portfolio--wrapper {
  max-width: 1020px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 494px;
  padding: 59px 40px 68px;
  box-sizing: border-box;
}

.portfolio--title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #666D89;
  margin-bottom: 15px;
}

.portfolio--subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 19px;
}

.portfolio--button {
  background-color: #2D303A;
  border: solid 1px #767E9E;
  border-radius: 5px;
  color: #767E9E;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 18px;
}

.portfolio--button:first-child {
  margin-left: 0px;
}

.portfolio--button:hover {
  border: solid 1px #BBBBBB;
  color: #DEDEDE;
}

.portfolio--gallery {
  display: grid;
  gap: 19.65px;
  grid-template-columns: repeat(auto-fit, minmax(187px, 1fr));
} 

.portfolio--img{
  cursor: pointer;
  width: 220px;
  height: 187px;
}

.portfolio--img:hover{
  opacity: 0.3;
}

.footer {
  width: 100%;
  background: #2D303A;
  color: #666D89;
  height: 76px;
  display: flex;
  justify-content: center;
}

.footer--baseline {
  display: flex;
  justify-content: baseline;
}

.footer--wrapper {
  max-width: 1020px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 29px;
  box-sizing: border-box;
}

.footer--copyright {
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
}

.footer--social-links {
  width: 152px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  text-decoration: none;
  color: #666D89;

}

.circle {
  width: 32px;
  height: 32px;
  border: 1px solid #666D89;
  border-radius: 50%;
  display: flex;
  justify-content: center;
 align-items: center;
  cursor: pointer;
}

@media(max-width: 1020.99px) {

  .red-content--wrapper {
    max-width: 599.48px;
  }

  .blue-content--wrapper {
    max-width: 599.48px;
  }

  .red-content--vertical {
    width: 100%;
    max-width: 180.85px;
    height: auto;
  }

  .red-content--horizontal {
    width: 100%;
    max-width: 364.21px;
    height: auto;
  }

  .blue-content--vertical {
    width: 100%;
    max-width: 110.68px;
    max-height: auto;
  }

  .blue-content--horizontal {
    width: 100%;
    max-width: 180.85px;
    height: auto;
  }

  .slider--content {
    min-height: 450px;
    padding: 0 30px;
  }

  .list-item--wrapper:nth-child(n+4) {
    margin-bottom: 20px;
  }

  .list-item--wrapper:last-child {
    margin-bottom: 0px;
  }

}

@media(max-width: 767px) {

  header {
    height: 71px;
  }

  .header__wrapper {
    padding: 18px 40px;
  }

  .slider--red {
    border-bottom: 4px solid #ea676b;
  }

  .red-content--wrapper {
    max-width: 292.72px;
  }

  .red-content--vertical {
    width: 100%;
    max-width: 88.3px;
    height: auto;
  }

  .red-content--horizontal {
    width: 100%;
    max-width: 177.84px;
    height: auto;
  }

  .blue-content--vertical {
    width: 100%;
    max-width: 54.04px;
    height: auto;
  }

  .blue-content--horizontal {
    width: 100%;
    max-width: 88.3px;
    height: auto;
  }

  .slider--content {
    min-height: 220.59px;
    padding: 0 10px;
  }

  .services--wrapper {
    padding: 39px 40px 64px;
  }
  .services {
    border-bottom: none;
  }

  .portfolio--gallery {
    grid-template-columns: repeat(auto-fit, minmax(183.76px, 1fr));
  } 
  
  .portfolio--img{
    width: 216.19px;
    height: 183.76px;
  }

  .footer--copyright {
    display: none;
  }

  .footer--wrapper {
    justify-content: center;
  }
}

@media(max-width: 604px) {
 
  main._lock{
    background-color: #141313;
    opacity: 0.4;
  }
  .slider--red {
    border-bottom: 2px solid #ea676b;
  }

  .header__nav {
    display: none;
  }

  .header__wrapper {
    justify-content: center;
  }
  .header__logo {
    margin-left: -60px;
  }

  .header__burger {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-top: 20px;
    position: relative;
    z-index: 13;
    height: 30px;
  }

  .burger__lines {
    position: relative;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #DEDEDE;
    margin-right: 28px;
    margin-left: 20px;
    cursor: pointer;
  }

  .burger__lines::before,
  .burger__lines::after {
    position: absolute;
    display: block;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #DEDEDE;
  }

  .burger__lines::before {
    top: -7px;
  }

  .burger__lines::after {
    bottom: -7px;
  }
  
  .burger__menu._active {
    /*display: block; */
    transition: 0.4s; 
    transform: translate(0px, 0px);
  }

  .header__burger._active span {
    transition:  0.5s ;
    transform: rotate(90deg);
  }
  
  .services--wrapper {
    padding: 25.6px 40px 15px;
  }

  .services--subtitle {
    margin-bottom: 25px;
  }

  .portfolio--wrapper {
    padding: 42px 40px;
  }

  .portfolio--gallery {
    gap: 13px;
    grid-template-columns: repeat(auto-fit, minmax(118px, 1fr));
  } 

  .portfolio--img{
    width: 141px;
    height: 118px;
  }
}

